<div class="form-comment mb-3">
    <input type="hidden" id="postId" value="{{postId}}">
    <div class="mb-1">
        <input id="comment" name="comment" placeholder="Enter your comment">
    </div>
    <div class="button-contaner mb-1">
        <button id="btn-comment">Comment</button>
        <button id="btn-cancel">Cancel</button>
    </div>
</div>

<script src="/js/comment.js"></script>
