<div class="container">
    <div class="row">
        <h3 class="text-muted">Dashboard</h3>
        <hr>
        <h4 class="text-muted">Edit Post</h4>
    </div>
    <div class="row">
        <input type="hidden" id="postId" value={{post.id}}/>
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input class="form-control form-control-sm" id="title" placeholder="Enter a title" value="{{post.title}}">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control form-control-sm" id="content" rows="6" placeholder="Enter a content">{{post.content}}</textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-outline-dark" id="btn-post-update">Update</button>
            <button class="btn btn-outline-dark" id="btn-post-delete">Delete</button>
        </div>

    </div>
  </div>
</div>

<script src="/js/post-edit.js"></script>