<div class="container">
    <div class="card bg-white">
        <div class="card-body p-5">
        <form class="mb-3 mt-md-4">
            <h2 class="fw-bold mb-2 text-uppercase ">Tech Blog</h2>
            <p class=" mb-5">Please enter your username, email and password!</p>
            <div class="mb-3">
            <label for="email" class="form-label ">Username</label>
            <input type="email" class="form-control" id="username" placeholder="name@example.com">
            </div>
            <div class="mb-3">
            <label for="email" class="form-label ">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
            <label for="password" class="form-label ">Password</label>
            <input type="password" class="form-control" id="password" placeholder="*******">
            </div>
            <div class="d-grid">
            <button class="btn btn-outline-dark" type="submit">Signup</button>
            </div>
        </form>
        <div>
            <p class="mb-0  text-center">Already have an account? <a href="/auth/login" class="text-primary fw-bold">Login</a></p>
        </div>

        </div>
    </div>
</div>